// colors
$color-primary:#59015e;
$color-secondary:#fc1e21;

//light colors
$color-light-1:#469e0c;
$color-light-2:#c8efc4;
//dark colors
$color-dark-1:#235900;
$color-dark-2:#697c67;
//special colors
$nav-color:#1d1f2d;
$labels-color:#333833;
$color-tertiary:#2e2a35;
$color-tertiary-hover:#ffd028