
<header>
  <div class="visitation">
    <div class="visitation__background">
      <video autoplay muted loop class="visitation__background--video">
        <source src="assets/dog.mp4" type="video/mp4">
      </video> 
    </div>
    <div class="visitation__title">
      <h1 class="heading-primary">Centrum pomocy </h1>
      <h2 class="heading-secondary">zwierzętom oraz schroniskom</h2>
    </div>
    <button class="visitation__login--button" (click)="login('register')">Stwórz konto</button>
  </div>
</header>
<section class="shelters"> 

</section>